
<p>
You're invited to login and vote on a newly created ballot. You can log in with the link below using this email address and the following temporary password.
</p>

<a href="http://voting.alecembke.com/login" >Click here to log in and begin voting.</a>

<div>Your password is: <%= @user.password %></div>