
<div id="voter-form" class="span8 offset2" >
	<%= simple_form_for @ballot do |f| %>
	<p><%= @ballot.description %></p>
		<strong>Candidates</strong><br /><hr />
		<%= f.association :candidates, collection: @ballot.candidates, as: :radio_buttons %>
		<br />
		<%= f.button :submit, label: "Vote" %>
	<% end %>
</div>


