

<div class="span6 offset3" id="ballots" >
	<h3>Ballots</h3>
	<div><%= link_to "Add ballot", "ballots/new" %></div>
	<% if @ballots.count > 0 %>
		<ul>
			<% @ballots.each do |ballot| %>
				<li>
					<div><%= ballot.title %></div><br />
					<div><%= ballot.end_time %></div><br />
					<div><%= link_to "View Ballot", ballot %></div>
				</li>
			<% end %>
		</ul>
	<% end %>
</div>
