<div class="span8 offset2 ballot">
  <h3> <% @ballot.title %> </h3>
  <p> <% @ballot.description %> </p>
  <p> <% @ballot.end_time %> </p>
  <div> class="ballot-options" >
    <ul>
      <% @ballot.votes.each do |v| %>
       <li> <p> <% v.title %> </p> </li>
      <% end %>
    </ul>
  </div>
</div>