
<div id="signup" class="span6 offset3" >
	<% if current_user.is? "administrator" %>
		<%= render "mod_new" %>
	<% elsif current_user.is? "moderator" %>
		<%= render "voter_new" %>
	<% else %>
		<% logger.debug "voter accessed signup page... this is an issue" %>
	<% end %>
</div>
